$text: #07090e;
$background: #040638;
$primary: #1644c0;
$secondary: #86a4ee;
$accent: #adc3fc;
$text-color: #1771F1;



$carousel-width: 100%;
$carousel-height: 600px;
$button-color: #fff;
$button-size: 30px;


$btn-bg: #0a36a9;
$gray: #f8f8f8;