@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap');
.wrapper-about {
  font-family: 'Montserrat', sans-serif;
  height: 90%;
  flex: 1;
}