@use 'variables' as v;

.book-page-wrapper {
  flex: 1;
  height: 90%;
  color: white;
  width: 85%;
  margin: 0 auto;

  .book-grid-column-container {
    display: grid;
    margin-left: 50px;
    margin-top: 50px;
    grid-column-gap: 75px;
    grid-template-columns: fit-content(100%) 2.5fr;

    .book-grid-fav-rate-img {
      display: grid;
      grid-template-rows: 1fr 0.1fr 0.1fr;
      grid-row-gap: 20px;
      .book-info-img {
        width: 200px;
        height: 300px;
      }
    }

    .rating-book {
      width: fit-content;
      align-items: center;
      margin: 0 auto;
    }

    .book-grid-row-info {
      display: flex;
      height: fit-content;
      flex-direction: column;
      justify-content: space-between;

      .book-grid-title {
        margin-bottom: 10px;
        font-size: 2em;
        font-weight: 600;
        letter-spacing: 1px;
        word-wrap: break-word;
      }

      .book-grid-author {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.2em;

      }


      .read-online {
        width: fit-content;
        margin-top: 130px;
        font-size: 1.5em;
        transition: 0.7s;
      }

      .read-online:hover {
        letter-spacing: 2px;
      }

      .read-online:after {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
      }

      .read-online:hover:after {
        backface-visibility: hidden;
        border-color: white;
        transition: width 350ms ease-in-out;
        width: 90%;
      }

    }
  }


}