@use 'variables' as v;
* {
  font-family: Montserrat, sans-serif;

}
.carousel-container {
  font-family: Montserrat, sans-serif;
  margin: 0 auto 50px auto;
  position: relative;
  width: 90%;
}
.section-name-header {
  font-size: 1.4em;
  margin: 0 auto 40px auto;
  color: v.$primary;
  border-bottom: 1px v.$primary solid;
}
.carousel {
  width: v.$carousel-width;
  margin: auto;
  position: relative;
  transition: 1s;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;

  .carousel-slides {
    display: flex;
    justify-content: space-evenly;
    transition: 1s;
  }

  .carousel-slide {
    transition: 1s;

    img {
      width: 150px;
      height: fit-content;
      margin: 0 auto;
    }


  }
}
.book-info {
  p {
    margin: 0;
    width: 150px;
    font-size: 0.8em;
    word-wrap: break-word;
  }

  .hn {
    font-weight: bold;
  }

  .hn1 {
    font-size: 0.7em;
  }

  color: whitesmoke;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
//
.carousel-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .carousel-button {
    background-color: v.$background;
    border: none;
    color: v.$button-color;
    cursor: pointer;
    width: v.$button-size;
    height: v.$button-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &:hover {
      background-color: lighten(v.$background, 10%);
    }
  }
}
.grid--container-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto 50px auto;
  .grid--container {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;

    .grid--container-elem {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .grid--container-elem-img {
        width: 150px;
        height: 220px;
      }
    }
  }
  .load-more-books {
    color: white;

  }
}