:root {
  --text: #07090e;
  --background: rgba(11, 2, 54, 1);
  --primary: #1545c5;
  --secondary: #86a4ee;
  --accent: #adc3fc;
  --text-color: #1771F1;
  --btn-bg: #0a36a9;
  --gray: #f8f8f8;
  --rotating-color: #f1f1f1;
  --bg1: rgba(31, 14, 150, 1);
}

[data-theme=light] {
  --text: #1a1a1a;
  --background: #b0aeae;
  --primary: #1841be;
  --secondary: #7195ff;
  --accent: rgba(135, 169, 255, 0.89);
  --text-color: #0056cc;
  --btn-bg: #003da5;
  --gray: #b0aeae;
  --rotating-color: #1644c0;
  --bg1: #fffbfb;
}

[data-theme=admin] {
  --text: #1a1a1a;
  --background: #F0F6F4;
  --primary: #078f67;
  --secondary: #09c28b;
  --accent: rgba(4, 224, 147, 0.85);
  --text-color: #11b786;
  --btn-bg: #003da5;
  --gray: #b0aeae;
  --rotating-color: #0da466;
  --bg1: #fffbfb;
}

* {
  font-family: Montserrat, sans-serif;
}

.carousel-container {
  font-family: Montserrat, sans-serif;
  margin: 0 auto 50px auto;
  position: relative;
  width: 90%;
}

.section-name-header {
  font-size: 1.6em;
  font-weight: 600;
  margin: 0 auto 40px auto;
  color: var(--primary);
  border-bottom: 1px var(--primary) solid;
}

.carousel {
  width: 100%;
  margin: auto;
  position: relative;
  transition: 1s;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
}
.carousel .carousel-slides {
  display: flex;
  justify-content: space-evenly;
  transition: 1s;
}
.carousel .carousel-slide {
  transition: 1s;
}

.book-info {
  transition: 1s;
  color: var(--rotating-color);
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
.book-info p {
  margin: 0;
  width: 150px;
  font-size: 0.8em;
  word-wrap: break-word;
  transition: 1s;
}
.book-info .hn {
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  transition: 1s;
}
.book-info .hn:hover {
  -webkit-line-clamp: unset; /* Remove line clamp */
  max-height: none; /* Allow full height on hover */
  transition: 1s;
}
.book-info .hn1 {
  font-size: 0.7em;
}

.carousel-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-button-wrapper .carousel-button {
  background-color: var(--background);
  border: none;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.carousel-button-wrapper .carousel-button:hover {
  background-color: #ffe545;
}

.grid--container-wrapper {
  position: relative;
  width: 90%;
  margin: 0 auto 50px auto;
}
.grid--container-wrapper .grid--container {
  color: var(--rotating-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
}
.grid--container-wrapper .grid--container .grid--container-elem {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.grid--container-wrapper .grid--container .grid--container-elem .grid--container-elem-img {
  width: 150px;
  height: 220px;
}

.grid--container-elem-img-p {
  width: 180px;
  height: 250px;
}

.load-more-books {
  width: 160px;
  height: 56px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border: none;
  color: var(--text-color);
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
}

.load-more-books > div,
.load-more-books > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.load-more-books:before {
  content: "";
  position: absolute;
  height: 1.5px;
  bottom: 10px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.load-more-books:hover:before {
  transform: scaleX(1);
  color: var(--text-color);
  transform-origin: bottom left;
}

.load-more-books .clone > *,
.load-more-books .text > * {
  opacity: 1;
  font-size: 1.1rem;
  transition: 0.2s;
  margin-left: 4px;
}

.load-more-books:hover .text > * {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.load-more-books:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

.load-more-books:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

.load-more-books:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

.load-more-books:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}

/* icon style and hover */
.load-more-books svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.2s ease-out;
}

.load-more-books:hover svg {
  transform: translateY(-50%) rotate(90deg);
}

/*# sourceMappingURL=Carousel.css.map */
