@use 'variables' as v;
@tailwind base;
@tailwind components;
@tailwind utilities;

$curRoot: true;

html {
  width: 100%;
}

#root {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Высота на 100% окна */
  //@if $curRoot == false {
  //  background: v.$background
  //} @else {
    background: radial-gradient(circle, var(--bg1) 40%, var(--background) 100%);
  //}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}