.search-bar-mood {
  transition: 2s;
}

.filled {
  transform: scale(0.7);
}

.unfilled {
  transform: translateY(150px);
}

.glow {
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  border-radius: 100%;
}

.glow-1 {
  animation: glow1 4s linear infinite;
}

.glow-2 {
  animation: glow2 4s linear infinite;
  animation-delay: 100ms;
}

.glow-3 {
  animation: glow3 4s linear infinite;
  animation-delay: 200ms;
}

.glow-4 {
  animation: glow4 4s linear infinite;
  animation-delay: 300ms;
}

@keyframes glow1 {
  0% {
    transform: translate(10%, 10%) scale(1);
  }
  25% {
    transform: translate(-10%, 10%) scale(1);
  }
  50% {
    transform: translate(-10%, -10%) scale(1);
  }
  75% {
    transform: translate(10%, -10%) scale(1);
  }
  100% {
    transform: translate(10%, 10%) scale(1);
  }
}

@keyframes glow2 {
  0% {
    transform: translate(-10%, -10%) scale(1);
  }
  25% {
    transform: translate(10%, -10%) scale(1);
  }
  50% {
    transform: translate(10%, 10%) scale(1);
  }
  75% {
    transform: translate(-10%, 10%) scale(1);
  }
  100% {
    transform: translate(-10%, -10%) scale(1);
  }
}

@keyframes glow3 {
  0% {
    transform: translate(-10%, 10%) scale(1);
  }
  25% {
    transform: translate(-10%, -10%) scale(1);
  }
  50% {
    transform: translate(10%, -10%) scale(1);
  }
  75% {
    transform: translate(10%, 10%) scale(1);
  }
  100% {
    transform: translate(-10%, 10%) scale(1);
  }
}

@keyframes glow4 {
  0% {
    transform: translate(10%, -10%) scale(1);
  }
  25% {
    transform: translate(10%, 10%) scale(1);
  }
  50% {
    transform: translate(-10%, 10%) scale(1);
  }
  75% {
    transform: translate(-10%, -10%) scale(1);
  }
  100% {
    transform: translate(10%, -10%) scale(1);
  }
}

.grid--container-mood-search {
  color: var(--rotating-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  margin: 40px 0;
  transition: 1s;
  .grid--container-mood-search-elem {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .grid--container-mood-search-elem-img {
      width: 150px;
      height: 220px;
    }
  }
}

.mood-search-book-info {
  transition: 1s;


  p {
    margin: 0;
    width: 150px;
    font-size: 0.8em;
    word-wrap: break-word;
    transition: 1s;

  }

  .mood-search-hn {
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    transition: 1s;

  }
  .mood-search-hn:hover {
    -webkit-line-clamp: unset; /* Remove line clamp */
    max-height: none; /* Allow full height on hover */
    transition: 1s;

  }

  .mood-search-hn1 {
    font-size: 0.7em;
  }

  color: var(--rotating-color);
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}