@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap");
:root {
  --text: #07090e;
  --background: rgba(11, 2, 54, 1);
  --primary: #1545c5;
  --secondary: #86a4ee;
  --accent: #adc3fc;
  --text-color: #1771F1;
  --btn-bg: #0a36a9;
  --gray: #f8f8f8;
  --rotating-color: #f1f1f1;
  --bg1: rgba(31, 14, 150, 1);
}

[data-theme=light] {
  --text: #1a1a1a;
  --background: #b0aeae;
  --primary: #1841be;
  --secondary: #7195ff;
  --accent: rgba(135, 169, 255, 0.89);
  --text-color: #0056cc;
  --btn-bg: #003da5;
  --gray: #b0aeae;
  --rotating-color: #1644c0;
  --bg1: #fffbfb;
}

[data-theme=admin] {
  --text: #1a1a1a;
  --background: #F0F6F4;
  --primary: #078f67;
  --secondary: #09c28b;
  --accent: rgba(4, 224, 147, 0.85);
  --text-color: #11b786;
  --btn-bg: #003da5;
  --gray: #b0aeae;
  --rotating-color: #0da466;
  --bg1: #fffbfb;
}

.register-wrapper {
  height: 90%;
  flex: 1;
}
.register-wrapper .register-container {
  font-family: Montserrat, sans-serif;
  background: #fff;
  max-width: 400px;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.register-wrapper .register-container form .register-title {
  font-size: 2em;
  font-weight: 600;
  margin: 0 0 10px 0;
  position: relative;
}
.register-wrapper .register-container form .register-title:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 115px;
  left: 0;
  bottom: 2px;
  border-radius: 5px;
  background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
}
.register-wrapper .register-container form .register-input-box {
  width: 100%;
  height: 45px;
  margin-top: 5px;
  position: relative;
}
.register-wrapper .register-container form .register-input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 16px;
  border: none;
}
.register-wrapper .register-container form .register-input-box input:focus ~ .register-underline::after, .register-wrapper .register-container form .register-input-box input:valid ~ .register-underline::after {
  transform: scaleX(1);
  transform-origin: left;
}
.register-wrapper .register-container form .register-underline::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}
.register-wrapper .register-container form .register-underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}
.register-wrapper .register-container form .register-button {
  margin: 25px 0 10px 0;
}
.register-wrapper .register-container .register-input-box input[type=submit] {
  font-family: Montserrat, sans-serif;
  background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.register-wrapper .register-container .register-input-box input[type=submit]:hover {
  letter-spacing: 2px;
  background: linear-gradient(to left, var(--primary) 0%, var(--secondary) 100%);
}
.register-wrapper .register-container .register-alternative {
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
}
.register-wrapper .register-container .register-alternative:-webkit-any-link {
  text-decoration-color: var(--primary);
}
.register-wrapper input, .register-wrapper input::placeholder {
  font-family: Montserrat, sans-serif;
}

/*# sourceMappingURL=RegisterPage.css.map */
